<% if params[:errors] %>
	<div id="error_explanation">		
		<ul>
			<% params[:errors].each do |message| %>
				<li style="color:red;">
					<h2>
						<%= message %>
					</h2>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
